<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/tiny-slider.css">
<div class="testimonial-slider">
  {% for testimonial in site.data.testimonials %}
  <div>
      <h3 class="quotation align-center">{{ testimonial.quote }}</h3>
      <p class="align-center source">&mdash;{{ testimonial.source }}</p>
      <p class="align-center source">{{ testimonial.title }}</p>
  </div>
  {% endfor %}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.8.7/min/tiny-slider.js"></script>
<script>
  var slider = tns({
    container: '.testimonial-slider',
    items: 1,
    autoplay: false,
    mode: 'gallery',
    controls: true,
    nav: true,
    autoplayButtonOutput: false,
    speed: 500
  });
</script>
