---
layout: page
title: "Portfolio"
description: "Check out my published articles, blog posts, and web copy in my copywriting portfolio."
---
<div class="text container">
  <p>Below is a collection of my published work, varying from blog and article posts to web copy for businesses. Click on the links provided to see the full body of work. Although I specialize in alternative health and wellness and outdoor travel
    and recreation, I am open to working with new industries. <a href="/#contact"><strong>Contact me</strong></a> if you are interested in discussing your project at hand.</p>
  <p>You also can head on over to <a href="/blog/">my blog</a> where I write about my personal interests, which vary from meditation to skiing to Ayurveda and herbalism.</p>
</div>
<section class="subsection">
  <div class="text container">
    <p><strong>Filter by Category:</strong></p>
    {% assign categories = site.data.portfolio | map: 'category' | uniq %}
    <p class="item filter" data-filter="all">All</p>
    {% for category in categories %}
    <p class="item filter" data-filter=".{{ category | remove: " " | remove: "&" }}">
      {{ category }}
    </p>
    {% endfor %}
    <div class="portfolio-wrap">
      {% assign portfolio = site.data.portfolio %}
      {% for content in portfolio %}
      <div class="portfolio card mix {{ content.category | remove: " "  | remove: "&" }}">
        <a target="_blank" href="{{ content.url }}">
          <div class="img-container" style="background-image: url({{ content.image }});">
          </div>
          <div class="card-content">
            <h2 class="very small">{{ content.title }}</h2>
            <p><a class="no-decoration muted" target="_blank" href="{{ content.url}}">{{ content.category }}</a></p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/3.3.1/mixitup.min.js"></script>
<script>
  var mixer = mixitup('.portfolio-wrap');
</script>
