
// viewport based typography mixin

@mixin interpolate($properties, $min-screen, $max-screen, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-screen) {
      @each $property in $properties {
        #{$property}: calc-interpolation(
          $min-screen,
          $min-value,
          $max-screen,
          $max-value
        );
      }
    }

    @media screen and (min-width: $max-screen) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

// Requires the calc-interpolation function which can also be used independently

@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
  $a: ($max-value - $min-value) / ($max-screen - $min-screen);
  $b: $min-value - $a * $min-screen;

  $sign: "+";
  @if ($b < 0) {
    $sign: "-";
    $b: abs($b);
  }
  @return calc(#{$a*100}vw #{$sign} #{$b});
}

// Indrek Pass also has a fantastic mixin here: http://sassmeister.com/gist/7f22e44ace49b5124eec

/* Single property */
html {
  @include interpolate(font-size, 320px, 1366px, 14px, 20px);
  box-sizing: border-box;
  height: 100%;
}


body {
  background-color: #feeae6;
  color: #442c2e;
  font-family: 'Lora', serif;
  line-height: calc(1.5em + .2vw);
  margin: 0 auto;
  height: 100%;
}

/* Multiple properties with same values */
h1,
h2,
h3,
h4,
h5 {
  @include interpolate((padding-top, padding-bottom), 20rem, 70rem, 0rem, 0.5rem);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: 3.98rem;
  @media (max-width: 760px) {
    font-size: 9.95vw;
  }
}
h2 {
  font-size: 2.82rem;
  @media (max-width: 760px) {
    font-size: 7.05vw;
  }
}
h3 {
  font-size: 1.99rem;
  @media (max-width: 760px) {
    font-size: 4.97vw;
  }
}
h4 {
  font-size: 1.41rem;
  @media (max-width: 760px) {
    font-size: 3.52vw;
  }
}

a {
  color: #442c2e;
}
.text.container {
  margin: 0 auto;
  max-width: 720px;
  @media (max-width: 760px) {
    margin: 0 4%;
  }

}

h2.sub-header {
  margin-top: 0px;
  font-size: 1.41rem;
}
.main {
  background-color: #fedbd0;

}
.logo {
  margin: 0;
}
