.main-header {
  align-items: center;
  display: flex;
  background-color: #fff9f8;
  width: 100%;
  position: fixed;
  z-index: 9;
  top: 0;
  font-family: 'Roboto', sans-serif;
  box-shadow: inherit;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  @media(max-width: 767px) {
    position: static;
    flex-direction: column;
  }

  a.logo {
    display: flex;
    @media(max-width: 767px) {
      padding: 16px;
    }
  }

  nav {
    flex: 1;
    padding-right: 3vw;
    @media(max-width: 767px) {
      padding: 0;
    }

    ul {
      display: flex;
      justify-content: flex-end;
      padding: 0;
      @media(max-width: 767px) {
        justify-content: space-between;
      }
      margin: 0;
      flex-wrap: wrap;

      li {
        list-style: none;

        a {
          padding: 22px;
          display: block;
          text-decoration: none;
          transition: all 0.2s ease;
          @media(max-width: 767px) {
            padding: 10px;
          }


            &:hover {
              background-color: #fedbd0;
            }

            &.active {
              background-color: #fedbd0;
            }
        }
      }
    }
  }

  svg {
    height: 50px;
    transition: transform 0.2s ease-out;
    padding-left: 3vw;

    &:hover {
      transform: scale(1.15);
    }
  }
}

footer {
  background-color: #fff9f8;
}
article {
  // padding-bottom: 60px;
}

.section {
  padding: 60px 0;

  &.tight {
    padding: 30px 0;
  }
  &.tight-padding-top {
    padding-top: 30px;
  }
  &.no-padding-top {
    padding-top: 0;
  }
  @media (max-width: 1200px) {
    padding: 30px 0;
  }
}

.full-page.section {
  min-height: 100vh;
}

.relative {
  position: relative;
}

.z-index2 {
  z-index: 2;
}
// .page-title {
//   margin-top: 80px;
// }

.post p:first-of-type {
  margin-top: 0;
}
.portfolio-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2.5vw;
  padding: 40px 0;
  @media(max-width: 780px) {
    grid-template-columns: 1fr;
  }
  @media(min-width: 1600px) {
    grid-template-columns: 1fr 1fr 1fr;
 }
   @media(min-width: 2380px) {
     grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &.home {
    padding-top: 0;
  }
}
.card {
  background-color: rgba(255,255, 255, .5);
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 40vw;
  transition: all .22s ease;
  &:hover {
    transform: scale(1.03);
    background-color: rgba(255,255, 255, .8);
    box-shadow: 0 20px 40px -12px rgba(0,0,0,.15), 0 18px 24px -18px rgba(0,0,0,.1), 0 -12px 24px -8px rgba(0,0,0,.02);
  }
  .post-date {
    margin: 0;
    color: #9fa1ac;
  }
  a {
    text-decoration: none;
  }
  h4{
    line-height: 1.35;
    font-size: 1.1rem;
  }

  &.portfolio {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 24px;
    // background-color: #fff9f8;

    .card-content {
      padding: 12px 36px;
    }

    .img-container {
      width: 180px;
      min-height: 140px;
      @media(max-width: 600px) {
        height: 72px;
        width: 100%;
      }
    }

    img {
      margin: 0;
    }
  }
}

.card .img-container {
  // width: 230px;
  height: 100%;
  grid-column: 1;
  background-color: #c1b7b4;
  background-size: cover;
  background-position: center center;
}

.card-content {
  grid-column: 2 / 5;
  padding: 20px 30px;
}
@media only screen and (max-width:600px) {
  .card {
    display: block;
  }

  .card .img-container {
    height: 250px;
    width: 100%;
  }

  .card-content {
    border: 0;
  }
}
.post-content {
  padding-top: 18px;
}
.post-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-row-gap: 4.5vw;
  a {
    text-decoration: underline;
  }

  li {
    position: relative;
    z-index: 2;
    background-color: #fff9f8;
    border: 2px solid #6D5B61;
    box-shadow: 5px 6px 0 #6D5B61;
    transition: all 0.25s ease;
    border-radius: 4px;
  }
}

.more-post {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &.prev-next {
    width: 100%;
  }

  a {
    text-decoration: none;
    color: #fff9f8;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  }

  li {
    background-size: cover;
    background-blend-mode: multiply;
    position: relative;
    z-index: 2;
    background-color: #fff9f8;
    border: 2px solid #6D5B61;
    box-shadow: 5px 6px 0 #6D5B61;
    padding: 16px;
    transition: all 0.25s ease;
    border-radius: 4px;
    flex: 1;
    margin: 10px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  .button {
    display: block;
    margin-top: 3.8vw;
    text-decoration: underline;
  }
}

.icon {
  display: inline-block;

  &.left-arrow {
    float: left;

    a {
      text-decoration: none;
    }
    @media (max-width: 680px) {
      float: none;
    }

    svg {
      margin-right: 5px;
      transform: scale(0.8);
      fill: #fff;
      -webkit-filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.25));
      filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.25));
    }
  }

  &.right-arrow {
    float: right;

    a {
      text-decoration: none;
    }
    @media (max-width: 680px) {
      float: none;
    }

    svg {
      margin-left: 5px;
      transform: scale(0.8);
      fill: #fff;
      -webkit-filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.25));
      filter: drop-shadow(2px 6px 3px rgba(0, 0, 0, 0.25));
    }
  }
}

.icon-text {
  position: relative;
  top: -4px;
}

.icon {
  display: inline-block;

  &.left-arrow {
    float: left;

    a {
      text-decoration: none;
    }
    @media (max-width: 680px) {
      float: none;
    }

    svg {
      margin-right: 5px;
    }
  }

  &.right-arrow {
    float: right;

    a {
      text-decoration: none;
    }
    @media (max-width: 680px) {
      float: none;
    }

    svg {
      margin-left: 5px;
    }
  }
}

.icon-text {
  position: relative;
  top: -4px;
}

.raised {
  background-color:#fff9f8;
  padding: 10px 1.6rem;
  border-radius: 0.2rem;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
}
.container {
  margin: 0 2rem;
  &.raised {
    background-color: #fff9f8;
    padding: 1.5rem;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    &.testimonial {
      padding: 1rem 4rem 6.5rem;
    }
}
}
.text.container {
  margin: 0 auto;
  max-width: 720px;

  &.raised {
    &.offset {
      margin-top: -23vh;
      @media (max-width: 760px) {
        margin-top: -30px;
      }

      &.less {
        margin-top: -10vh;
        @media (max-width: 760px) {
          margin-top: -20px;
        }
      }
    }
    background-color: #fff9f8;
    padding: 1.5rem;
    border-radius: 0.2rem;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.06), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);
    &.testimonial {
      padding: 0 4rem 2.5rem;
      margin-top: -110px;
      min-height: 580px;
    }
  }
  @media (max-width: 760px) {
    margin: 0 4%;
  }
}

.home {
  img {
    margin-top: 0;
    border-radius: 0.2rem;
  }

  h2 {
    font-size: 1.61rem;
  }

  h2:first-of-type,
  h4:first-of-type {
    margin-top: 0;
    padding-top: 0;
  }

  .hero {
    background-image: url("/images/pink-flower.jpg");
     position: relative;
     background-position-y: center;
     background-size: cover;
     @media (max-width: 767px) {
       padding: 32px 0;
     }
    h1 {
      font-size: 5.76rem;
      @media (max-width: 767px) {
        font-size: 3.4rem;
      }
    }

    h2 {
      font-size: 2.3rem;
      @media (max-width: 767px) {
        font-size: 1.6rem;
      }
    }

    &.overlay {
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(254, 234, 230, 0.41);
        z-index: 1;
      }
    }

    &.footer {
      padding: 60px 0;
      @media(max-width: 767px) {
        padding: 24px 0;
      }
    }
    @media(max-width: 767px) {
      padding: 32px 0;
    }

    h1 {
      position: relative;
      z-index: 2;
      // text-align: center;
      margin-bottom: 0;
      @media(max-width: 767px) {
        padding: 0;
      }
      padding-bottom: 0;
    }

    h3 {
      position: relative;
      z-index: 2;
      margin: 0;
      text-align: center;
      padding: 0;
    }
  }
}

.hero-content {
  padding-bottom: 90px;

}

.page-hero {
  background-size: cover;
  padding: 32px 0;

  &.full-height {
    height: 89.3vh;
    @media(max-width: 767px) {
      height: inherit;
    }
  }
  @media(max-width: 767px) {
    padding: 64px 0;
  }
}

.pink-gradient {
  background: #feeae6;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fed4d6, #fee9ea);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #fed4d6, #fee9ea);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.top-shadow {
    box-shadow: inset 0 3px 8px rgba(0,0,0,0.08);
}
.flowers {
  background-image: url(/images/flowers.jpg);
  background-size: cover;
  background-position-y: center;
}

.light-bg {
  background-color:#fff9f8;
}
.pink-abstract-flip {
  background-image: url(/images/pink-abstract.jpg);
  background-size: cover;
  background-position-y: -140px;
}
.skew {
  transform: translateX(-114px) rotateZ(-33deg);
  @media(max-width: 1100px) {
    transform: inherit;
  }
}

.social-media-list {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    text-align: center;
  }

  a,
  svg {
    display: block;
  }

  a {
    height: 3.6rem;
    width: 3.6rem;
  }

  svg {
    height: 100%;
    width: 100%;
    fill: #211818;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}
.filter-wrap {
  display: grid;
  grid-template-columns: 230px 1fr;
  padding: 50px 0px;
  @media(min-width: 1440px) {
  grid-template-columns: 230px 840px;
  }
  &.about {
    padding: 0;
    grid-template-columns: 210px 1fr;
    @media(max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
  &.greeting {
        grid-template-columns:150px 43vw;
        padding: 0 0 50px 0;
        @media(max-width: 600px) {
          grid-template-columns: 1fr;
        }
  }
  &.home {
    grid-template-columns:150px 1fr;
    position: relative;
    z-index: 2;
    @media(max-width: 600px) {
      grid-template-columns: 1fr;
      margin-top: 0px;
    }
  }
  grid-column-gap: 1.2rem;
  @media(max-width: 600px) {
    padding: 0;
    grid-template-columns: 1fr;
  }
}

.filter {
  cursor: pointer;
  margin: 0;
  display: inline-block;
  padding: 0.2rem 0.5rem;
  color:#83686a;
  transition: all 0.2s ease;
  border: 1px solid #9fa1ac2e;
  margin-top: 8px;
  border-radius: 4px;

  &:hover {
    color: #442c2e;
  }

  &.mixitup-control-active {
    color: #442c2e;
    background-color: #fedbd0;
    font-weight: 600;
  }
}

.tns-outer {
  position: relative;
  // min-height: 420px;
}


.tns-controls [disabled] {
  color: #999999;
  background: #B3B3B3;
  cursor: not-allowed !important;
}

.tns-nav {
  text-align: center;
  position: absolute;
  bottom: -40px;
  left: calc(50% - 24px);
}

.tns-nav > [aria-controls] {
  width: 14px;
  height: 14px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #d3c3bf;
  border: 0;
}

.tns-nav > .tns-nav-active {
  background: #442c2e;
}

.tns-controls [aria-controls] {
  font-size: 15px;
  margin: 0 5px;
  padding: 0 1em;
  height: 2.5em;
  color: #3b2628;
  background: #aae5e4;
  border-radius: 3px;
  border: 1px solid #d3c3bf;
}

.lt-ie9 .tns-controls > [aria-controls] {
  line-height: 2.5em;
}

[data-action] {
  display: block;
  margin: 10px auto;
  font-size: 17px;
  min-width: 3em;
  text-align: center;
  background: transparent;
  border: 0;
}
.svg-circles {
  background-color: #fedbd0;
  padding: 40px 0;
}
.zig-zag {
  background-color: #fedbd0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23fedbd0' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23feded5' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23fee1d9' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23fee4dd' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23fee7e2' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23feeae6' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}
