---
layout: default
---
<div class="home">
  <section class="hero">
    <div class="container">
      <div class="filter-wrap home">
        <div class="column">

        </div>
        <div class="column">
          {%- if page.title -%}
          <h1 class="align-left">{{ page.title }}</h1>
          {%- endif -%}
          <h2 class="align-left">Freelance Writer</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="filter-wrap home">
        <div class="column">
          <img src="/images/jersey-small.jpg" alt="Jersey Griggs" />
        </div>
        <div class="column raised">
          <p>Hey there! Thanks for stopping by.</p>
          <p>I’m a Maine-based freelance writer and editor with a passion for interesting perspectives and thoughtful words. I cover wellness, outdoor adventure, travel, and lifestyle topics on digital and print platforms. </p>
          <p>My work has been featured in The Discoverer, Travel Trivia, Seeqr, Outside Bozeman, The Sunrise Guide, Herbstalk, and Elephant Journal.</p>
          <p>I also work with clients in a varied capacity to assist with their writing needs. To learn more, head over to my services page. If you have a project you’d like to discuss, please <strong><a href="/#contact">reach out to me directly</a></strong>.
            I look forward to hearing from you!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section tight-padding-top zig-zag">
    <div class="text container">
      {% include testimonial-slider.html %}
    </div>
  </section>
  <section class="section pink-gradient top-shadow">
    <div class="container">
      <h2>Latest Published Work</h2>
      <div class="portfolio-wrap">
        {% assign portfolio = site.data.portfolio %}
        {% for content in portfolio limit:6 %}
        <div class="portfolio card mix {{ content.category | remove: " "  | remove: "&" }}">
          <a target="_blank" href="{{ content.url }}">
            <div class="img-container" style="background-image: url({{ content.image }});">
            </div>
            <div class="card-content">
              <h4 class="no-margin">{{ content.title }}</h4>
              <small><a class="no-decoration" target="_blank" href="{{ content.url}}">{{ content.category }}</a></small>
            </div>
          </a>
        </div>

        {% endfor %}
      </div>
      <p class="align-center"><a href="/portfolio/"><strong>View Portfolio</strong></a></p>
    </div>
  </section>
  <section class="section light-bg" id="contact">
    <div class="container">
      <div class="filter-wrap home">
        <div class="column">

        </div>
        <div class="column">
          <h2>Contact Me</h2>
          <p>Interested in discussing a project? I'd love to hear from you! Email me at <strong>jerseygriggs.writes@gmail.com</strong>.</p>
        </div>
      </div>
    </div>
  </section>
