---
layout: default
---
<!-- Jarallax -->
<script src="https://unpkg.com/jarallax@1.10/dist/jarallax.min.js"></script>
<div class="home">
  <section class="hero jarallax">
    <div class="text container">
      {%- if page.title -%}
      <h1 class="align-left">{{ page.title }}</h1>
      {%- endif -%}
      <h2 class="align-left">Freelance Writer</h2>
    </div>
  </section>
  <section class="pink-gradient section">
    <div class="raised offset text container relative z-index2 ">
      {{ content }}
    </div>
    </section>
  <section class="section no-padding-top zig-zag">
    <div class="text container">
      {% include testimonial-slider.html %}
    </div>
  </section>
  <section class="hero footer jarallax" data-jarallax data-speed="1.3" id="contact">
    <div class="text container">
      <h2 class="small">Contact Me</h2>
      <p>Interested in discussing a project? I'd love to hear from you! Email me at <strong>jerseygriggs.writes@gmail.com</strong> or use the contact form below.</p>
      <section class="tight subsection">
        <div class="form-wrap">
          <form action="https://formspree.io/jerseygriggs.writes@gmail.com" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name">
            <label for="name">Email:</label>
            <input type="email" name="_replyto">
            <label for="message">Your Message:</label>
            <textarea name="message"></textarea>
            <input type="submit" class="submit button" value="Send">
          </form>
        </div>
      </section>
    </div>
  </section>
</div>

<!-- Jarallax -->
<script src="https://unpkg.com/jarallax@1.10/dist/jarallax.min.js"></script>

<script>
  var mq = window.matchMedia("(min-width: 767px)");
  if (mq.matches) {
    jarallax(document.querySelectorAll('.jarallax'), {
      speed: .7
    });
  }
</script>
