---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1>{{ page.title }}</h1>
  {%- endif -%}
  {{ content }}
<section class="subsection border-top">
  {%- if site.posts.size > 0 -%}
    <h2 class="small">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts limit: 3 -%}
      <li>
        <h4>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h4>
        <a class="button" href="{{ post.url | relative_url }}">Read More</a>
      </li>
      {%- endfor -%}
    </ul>
  </section>

  {%- endif -%}

</div>
