---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  {%- if site.posts.size > 0 -%}
    <h2>{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <a class="button" href="{{ post.url | relative_url }}">Read More</a>
      </li>
      {%- endfor -%}
    </ul>


  {%- endif -%}
</article>
