---
layout: default
---
<article class="post">
  <section class="section page-hero jarallax" style="background-image:url({{ page.hero-image }});">
    <div class="text container">
      <section class="subsection">
        <h1 class="align-center {% if page.use_inverted_heading == true %}inverted{% endif %}">{{ page.title | escape }}</h1>
      </section>
    </div>
</section>
  <div class="post-content">
    {{ content }}
  </div>
</article>
<!-- Jarallax -->
<script src="https://unpkg.com/jarallax@1.10/dist/jarallax.min.js"></script>
<script>
  var mq = window.matchMedia("(min-width: 767px)");
  if (mq.matches) {
    jarallax(document.querySelectorAll('.jarallax'), {
      speed: .7
    });
  }
</script>
