---
layout: default
---
<article class="" itemscope itemtype="http://schema.org/BlogPosting">
  <section class="section page-hero" style="background-image:url({{ page.image }})">
  <div class="text container">
      <h1 class="align-center post-title" itemprop="name headline">{{ page.title | escape }}</h1>

      <!-- <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </p> -->
  </div>
      </section>

    <div class="text container" itemprop="articleBody">
      <section class="section">
      {{ content }}
      </section>
    </div>
    <div class="text container">
    {%- include disqus_comments.html -%} 
    </div>
    <div class="text container">
    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      {%- if site.posts.size > 1 -%}
      <section class="subsection border-top">
    <h2 class="small">{{ page.list_title | default: "More Blog Posts" }}</h2>
    <ul class="more-post prev-next">
        {% if page.previous.url %}
      <li style="background-image: url({{ page.previous.image }});">
        <div class="left-arrow icon">
        <a class="post-link" href="{{ page.previous.url }}">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/></svg>
          <span class="icon-text">Previous Post</span>
        </a>
        </div>
        <h4>
          <a class="post-link" href="{{ page.previous.url }}">
          {{ page.previous.title }}
          </a>
        </h4>
        <a class="button" href="{{ page.previous.url }}">Read More</a>
      </li>
          {% endif %}
          {% if page.next.url %}
          <li style="background-image: url({{ page.next.image }});">
          <div class="right-arrow icon">
            <a class="post-link" href="{{ page.next.url }}">
              <span class="icon-text">Next Post</span>
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg>
            </a>
          </div>
          <h4>
            <a class="post-link" href="{{ page.next.url }}">
          {{ page.next.title }}
            </a>
          </h4>
          <a class="button" href="{{ page.next.url }}">Read More</a>
        </li>
          {% endif %}
    </ul>

  {%- endif -%}
  </section>
  </div>
 </article>
