---
layout: default
---
<article class="post h-entry text container" itemscope itemtype="http://schema.org/BlogPosting">

      <h1 itemprop="name headline">{{ page.title | escape }}</h1>
      <!-- <p class="post-meta">
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time> {%- if page.author -%} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
        {%- endif -%}</p> -->
<!--
    <div class="post-content e-content" itemprop="articleBody"> -->
      {{ content }}
    <!-- </div> -->

    {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
      {%- if site.posts.size > 0 -%}
      <section class="subsection border-top">
    <h2 class="small">{{ page.list_title | default: "Other Writing Samples" }}</h2>
    <ul class="post-list prev-next">
        {% if page.previous.url %}
      <li>
        <div class="left-arrow icon">
        <a class="post-link" href="{{ page.previous.url }}">
            <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/></svg>
          <span class="icon-text">Previous Sample</span>
        </a>
        </div>
        <h4>
          <a class="post-link" href="{{ page.previous.url }}">
          {{ page.previous.title }}
          </a>
        </h4>
        <a class="button" href="{{ page.previous.url }}">Read More</a>
      </li>
          {% endif %}
          {% if page.next.url %}
        <li>
          <div class="right-arrow icon">
            <a class="post-link" href="{{ page.next.url }}">
              <span class="icon-text">Next Sample</span>
                <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M4 .755l14.374 11.245-14.374 11.219.619.781 15.381-12-15.391-12-.609.755z"/></svg>
            </a>
          </div>
          <h4>
            <a class="post-link" href="{{ page.next.url }}">
          {{ page.next.title }}
            </a>
          </h4>
          <a class="button" href="{{ page.next.url }}">Read More</a>
        </li>
          {% endif %}
    </ul>

  {%- endif -%}
  </section>
 </article>
